<h1>Listing himalayas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Reserva</th>
    <th>Personas</th>
    <th>Hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @himalayas.each do |himalaya| %>
  <tr>
    <td><%= himalaya.name %></td>
    <td><%= himalaya.email %></td>
    <td><%= himalaya.reserva %></td>
    <td><%= himalaya.personas %></td>
    <td><%= himalaya.hora %></td>
    <td><%= link_to 'Show', himalaya %></td>
    <td><%= link_to 'Edit', edit_himalaya_path(himalaya) %></td>
    <td><%= link_to 'Destroy', himalaya, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Himalaya', new_himalaya_path %>
